.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #e6dbb7;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 600px) {
  .login-card {
    max-width: 90%;
  }
}
